.spacer {
  flex: 1 1 auto;
}

img {
  height: 2rem;
  cursor: pointer;
}

.desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}
