<mat-toolbar color="primary" class="desktop">
      <img routerLink="/" src="../../../../assets/img/coin.svg" alt="logo">

      <span class="spacer"></span>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/auth/sign-in">Iniciar Sesión</button>
      <button mat-button routerLink="/auth/sign-up">Registrarse</button>
</mat-toolbar>

<mat-toolbar color="primary" class="mobile ">
      <img routerLink="/" src="../../../../assets/img/coin.svg" alt="logo">

      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">            
            <button mat-menu-item>
                  <span mat-button routerLink="/">Home</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/auth/sign-in">Iniciar Sesión</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/auth/sign-up">Registrarse</span>
            </button>
      </mat-menu>
</mat-toolbar>