<div class="crypto-container">
  <div class="crypto-list">
    <h2>Top Criptomonedas</h2>
    <ul>
      <li *ngFor="let coin of cryptoTrending.coins">
        <div class="crypto-item">
          <img [src]="coin.item.thumb" alt="{{ coin.item.name }}" />
          <div class="crypto-details">
            <p><strong>Name:</strong>  {{ coin.item.name }}</p>
            <p><strong>Symbol: </strong> {{ coin.item.symbol }}</p>
            <p><strong>Market Cap Rank: </strong> {{ coin.item.market_cap_rank }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="nft-list">
    <h2>NFTs</h2>
    <ul>
      <li *ngFor="let coin of cryptoTrending.nfts">
        <div class="crypto-item">
          <img src="{{ coin.thumb }}" alt="" />
          <div class="crypto-details">
            <p><strong>Name:</strong> {{ coin.name }}</p>
            <p><strong>Symbol: </strong> {{ coin.native_currency_symbol }}</p>
            <p><strong>Floor Price Market:</strong>  {{ coin.floor_price_in_native_currency }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
</div>