.crypto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem;
    font-family: Arial, sans-serif;
    color: #fff;
}

.crypto-list, .nft-list {
    background-color: #444;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 250px;
    max-width: 350px;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 20px 0;
}

.crypto-item, .nft-item {
    display: flex;
    align-items: center;
}

.crypto-details {
    margin-left: 10px; 
}

.crypto-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px; 
}

strong{
    font-weight: 800;
    font-size: medium;
}