<app-nav-bar></app-nav-bar>

<div class="container-center">
    <div class=" mt-2">
        <div class="register">
            <h1 class="register--tittle">Crear una cuenta</h1>

            <form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
                <mat-form-field>
                    <mat-label>Nombre de Usuario</mat-label>
                    <input matInput #inputName [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                        autocomplete="off">
                    <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
                        Min {{minLength}} caracteres!
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                        Nombre de Usuario <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="johnDoe@example.com" autocomplete="off">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Ingrese un mail valido
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('minlength') && !emailFormControl.hasError('required')">
                        Min {{minLength}} caracteres!
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Introduce tu contraseña</mat-label>
                    <input autocomplete="off" matInput [type]="hide ? 'password' : 'text'" #inputPass
                        [formControl]="passwordFormControl">
                    <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                    <mat-error
                        *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                        Min {{minLength}} caracteres!
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <div class="container-btn">
                    <a class="btn btn--create" mat-button color="primary" routerLink="/auth/sign-in">Login</a>
                    <button class="btn" mat-raised-button color="primary" [disabled]="formLogin.invalid">Crear
                        Cuenta</button>
                </div>
            </form>
        </div>
    </div>
</div>