.container {
  color: #fff;
  word-wrap: break-word;
}

.hero {
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero--img{
  flex-basis: 250px;
  max-height: 80vh;
  display: none;
}

@media screen and (min-width: 940px) {
  .hero--img {
    display: block;
  }
}

.hero--info {
  min-height: 80vh;  
  flex-direction: column;
  & h1{
    line-height: 4rem;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery--item {
  width: 250px;
  flex-basis: 150px;
  flex-grow: 1;
}

app-crypto-card{
  flex-basis: 250px;
}

i {
  font-size: 2rem;
}

.form input {
  display: block;
  margin: 1rem auto;
  outline: none;
  border: 1px solid #39c;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 320px;
}

footer {
  background-color: rgb(129, 138, 200);
  padding: 2rem; 
}

footer p {
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
}

.h2{
  line-height: 3rem;
}