.container {
  color: #fff;
  word-wrap: break-word;
}

.hero {
  height: 100vh;
  /* background: url("https://images.unsplash.com/photo-1589652717406-1c69efaf1ff8?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover; */
  background: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2018/03/290655-apple-lanzaria-nuevo-macbook-air-mas-barato-potente.jpg?itok=ySWhq6Us") center/cover;
  /* box-shadow: inset 180px 120px 250px #00000018, inset 204px 0px 250px #000000; */
  background-repeat: no-repeat;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery--item {
  width: 250px;
  flex-basis: 150px;
  flex-grow: 1;
}

app-crypto-card{
  flex-basis: 250px;
}

i {
  font-size: 2rem;
}

.form input {
  display: block;
  margin: 1rem auto;
  outline: none;
  border: 1px solid #39c;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 320px;
}

footer {
  background-color: rgb(129, 138, 200);
  padding: 2rem; 
}

footer p {
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
}

