<mat-toolbar color="primary" class="desktop">
      <img routerLink="/" src="../../../../assets/img/coin.svg" alt="logo">

      <span class="spacer"></span>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/crypto/converter">Convertidor</button>
      <button mat-button routerLink="/crypto/price">Criptomonedas</button>
      <button mat-button routerLink="/crypto/trending">Trending</button>
      <button mat-button routerLink="/crypto/news">Noticias</button>
      <button mat-button routerLink="/users/dashboard" *ngIf="isAdmin">Dashboard</button>
      <button mat-button routerLink="/users/profile">Perfil</button>

      <span class="spacer"></span>
      <button mat-icon-button class="logout-icon" routerLink="/" (click)="logout()">
            <mat-icon> logout </mat-icon>
      </button>

</mat-toolbar>


<mat-toolbar color="primary" class="mobile ">
      <img routerLink="/" src="../../../../assets/img/coin.svg" alt="logo">

      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
            <button mat-menu-item>
                  <span mat-button routerLink="/">Home</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/crypto/converter">Convertidor</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/crypto/price">Criptomonedas</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/crypto/trending">Trending</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/crypto/news">Noticias</span>
            </button>
            <button mat-menu-item  *ngIf="isAdmin">
                  <span mat-button routerLink="/users/dashboard">Dashboard</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/users/profile">Perfil</span>
            </button>
            <button mat-menu-item>
                  <span mat-button routerLink="/" (click)="logout()">Cerrar Sesión</span>
            </button>
      </mat-menu>
</mat-toolbar>