<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Precios de Criptomonedas</title>
    <link rel="stylesheet" href="./price.component.css" />
  </head>
  <body>
    <table class="crypto-table" className="table table-dark mt-4 table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price (USD)</th>
                <th>High 24hs</th>
                <th>Low 24hs</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let criptomoneda of cryptoData">
                <td>{{ criptomoneda.market_cap_rank }}</td>
                <td>
                    <img class="crypto-image" src="{{ criptomoneda.image }}" alt="">
                    {{ criptomoneda.name }}
                    {{criptomoneda.symbol}}
                </td>
                <td class="price-cell">
                    ${{ criptomoneda.current_price }}
                </td>
                <td class="high-cell">
                    ${{ criptomoneda.high_24h }}
                </td>
                <td class="low-cell">
                    ${{ criptomoneda.low_24h }}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>