<div class="main">

    <h1 class="main--tittle">Calculadora de criptomonedas</h1>

    <form class="form">

        <mat-form-field>
            <mat-label>Introduce un número</mat-label>
            <input matInput type="number" [formControl]="valueFormControl" [(ngModel)]="value" name="name">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = null">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Seleccionar criptomoneda </mat-label>
            <input type="text" placeholder="Seleccione" aria-label="Number" matInput [formControl]="cryptoFormControl"
                [matAutocomplete]="auto" [(ngModel)]="filterCrypto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let crypto of filteredCrypto | async" [value]="crypto">
                    {{ crypto }}
                </mat-option>
            </mat-autocomplete>
            <button *ngIf="filteredCrypto" matSuffix mat-icon-button (click)="filterCrypto=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Seleccionar divisa </mat-label>
            <input type="text" placeholder="Seleccione" aria-label="Number" matInput [formControl]="currencyFormControl"
                [matAutocomplete]="selector" [(ngModel)]="filterCurrency">
            <mat-autocomplete autoActiveFirstOption #selector="matAutocomplete">
                <mat-option *ngFor="let option of filteredCurrency | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
            <button *ngIf="filteredCrypto" matSuffix mat-icon-button (click)="filterCurrency=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <div class="result">
        Resultado: {{ calculatedResult }}
    </div>

</div>