<div class="container-center">
  <div class="main">
    <h1 class="main--tittle">Calculadora de criptomonedas</h1> 
    <form class="form">
      <mat-form-field>
        <mat-label> Seleccionar divisa </mat-label>
        <input type="text" placeholder="Seleccione" aria-label="Number" matInput
            [formControl]="currencyFormControl" [matAutocomplete]="selector">
        <mat-autocomplete autoActiveFirstOption #selector="matAutocomplete">
            <mat-option *ngFor="let option of CURRENCIES | keyvalue" [value]="option.key">
                {{ option.value }}
            </mat-option>
        </mat-autocomplete>
        <button *ngIf="currencyFormControl.value" matSuffix mat-icon-button (click)="currencyFormControl.reset">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    
      

      <mat-form-field>
        <mat-label> Seleccionar criptomoneda </mat-label>
        <input
          type="text"
          placeholder="Seleccione"
          aria-label="Number"
          matInput
          [formControl]="cryptoFormControl"
          [matAutocomplete]="auto"
        />

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let crypto of cryptoCalculator.Data"
            [value]="crypto.CoinInfo.Name"
          >
            {{ crypto.CoinInfo.FullName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-button color="primary" (click)="cotizarDivisasYCriptomoneda()">
        Cotizar
      </button>

      <div class="container-answer">
        <div class="display-info" *ngIf="cotizacionRealizada">
          <p class="main-price">Precio: <span>{{ price }}</span></p>
          <p>Precio más alto del día: <span>{{ highday }}</span></p>
          <p>Precio más bajo del día: <span>{{ lowday }}</span></p>
          <p>Variación últimas 24 horas: <span>{{ changepct24hour }}%</span></p>
          <p>Precio apertura: <span>{{ openday }}</span></p>
        </div>
      </div>
      
    </form>
    </div>
</div>
