@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(to right bottom, #09326c, #c9519c);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.btn {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1.5rem;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.d-flex{
  display: flex;
}