<app-nav-bar *ngIf="!isLoggedIn"></app-nav-bar>

<crypto-navbar *ngIf="isLoggedIn"></crypto-navbar>

<div class="not-found-container">
  <img
    src="https://media.licdn.com/dms/image/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/0/1581099611064?e=1703721600&v=beta&t=aF4mn1U5yLb1Ufq8mq4ej-m1IIw0POuqsmSkUT0kFDg"
    alt="Imagen de error 404"
    class="not-found-image"
  />
  <p class="not-found-text">
    La página que estás buscando no ha sido encontrada o no existe
  </p>

  <button mat-raised-button color="primary" routerLink="/" class="not-found-link">home</button>
</div>
