.not-found-container {
  text-align: center;
  margin: 50px auto;
  width: 50%;
  height: 90%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem;
}

.not-found-image {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
}

.not-found-text {
  font-size: 1.2rem;
  margin-top: 10px;
}



