.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

.login {
  max-width: 420px;
  text-align: center;

  @media screen and (min-width: 600px) {
    & {
      background: rgba(245, 245, 245, 0.732);
      border: 1px solid black;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    }
  }
}

.login--tittle {
  font-size: 2rem;
  font-weight: 500;
}

.login-img {
  display: flex;
  margin-inline: auto;
  max-width: 5rem;
  padding-bottom: 1rem;
}

.btn {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1.5rem;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.w-80{
    width: 80%;
}